@model HomeIndexViewModel

@{
    ViewBag.Title = "Home page";
}

<h1>All Restaurants</h1>

@foreach (var res in Model.Restaurants)
{
    @Html.Partial("_Summary", res)
}

<div>
    <a class="btn btn-primary" asp-action="Create">Add Restaurant</a>
</div>
